{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b3afaf;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(4, minmax(10px, 1fr));
    grid-gap: 20px;  
    padding-right: 30px;
}
.gallery img{
    transition: 1s;
    padding: 15px;
    width: 100%;
    height: 350px;
    object-fit: scale-down;
}
.gallery img:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
}
.data-title{
    font-size: 36px;
}

footer {
    padding: 25px 0px;
    text-align: center;
    font-size: 30px;
}
